.w-15 {
    width: 15%;
}
.w-65 {
    width: 65%;
}
.font-regular {
    font-weight: 500!important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500!important;
}
.text-grey-sharp {
    color: rgb(207, 207, 207);
}
.number-item {
    border-radius: 12px;
    background-color: #5d5292;
    height: 20px;
    width: 20px;
}
.fw-500 {
    font-weight: 500;
}
.board {
    background-color: #494172;
    border-radius: 5px;
    padding: 6px 12px;
    text-align: left;
    margin: 12px 0;
}
.text-gray-sharp {
    color: rgb(205, 200, 215);
}
.font-bold {
    font-weight: bold!important;
}